includeConfig '../../../modules/nf-core/bowtie2/build/nextflow.config'
includeConfig '../../../modules/nf-core/gunzip/nextflow.config'
includeConfig '../../../modules/nf-core/cobrameta/nextflow.config'
includeConfig '../../../modules/local/coverm/contig/nextflow.config'
includeConfig '../../nf-core/fastq_align_bowtie2/nextflow.config'

process {
    withName: COVERM_COBRA {
        ext.args   = [
            "--methods trimmed_mean",
            "--min-read-aligned-length 0",
            "--min-read-percent-identity 0",
            "--min-read-aligned-percent 0",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/VirusExtension/coverm/contig" },
            mode: params.publish_dir_mode,
            pattern: '*_alignment_results.tsv',
        ]
    }
}
