process {
    withName: INSTRAIN_COMPARE {
        publishDir = [
            [
                path: { "${params.outdir}/VirusMicrodiversity/instrain/compare" },
                mode: params.publish_dir_mode,
                pattern: '*.IS_compare',
            ]
        ]
        ext.args = params.instrain_compare_args ? params.instrain_compare_args : ""
    }
}