includeConfig '../../../modules/nf-core/cat/cat/nextflow.config'
includeConfig '../../../modules/local/propagate/extractproviruses/nextflow.config'
includeConfig '../../../modules/local/skani/triangle/nextflow.config'
includeConfig '../../../modules/local/checkvanicluster/anicluster/nextflow.config'
includeConfig '../../../modules/local/checkvanicluster/extractreps/nextflow.config'
includeConfig '../../../modules/local/propagate/derepcoordinates/nextflow.config'
includeConfig '../../../modules/local/propagate/propagate/nextflow.config'
