params {
    // Pipeline options
    publish_dir_mode        = 'symlink'

    // Test data base path (S3)
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Test data base path (GitHub)
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Base directory for nf-core/phageannotator test data
    pipelines_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/phageannotator/"
}

process {
    withName: SKANI_TRIANGLE {
        cpus        = 1
    }
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

// Load modules test_data.config
includeConfig 'https://github.com/nf-core/modules/raw/master/tests/config/test_data.config'
