process {
    withName: INSTRAIN_PROFILE {
        publishDir = [
            [
                path: { "${params.outdir}/VirusMicrodiversity/instrain/profile" },
                mode: params.publish_dir_mode,
                pattern: '*.IS',
            ]
        ]
        ext.args = params.instrain_profile_args ? params.instrain_profile_args : ""
    }
}